Repository immichFrame/ImmichFrame, pull requests merged in 2024-10, with the labels that each got.

#154 Feat: Image Transitions
  ImmichFrame.WebApi/Helpers/SettingsExtensonMethods.cs
  ImmichFrame.WebApi/Models/ClientSettings.cs
  immichFrame.Web/src/lib/components/elements/image-component.svelte
  immichFrame.Web/src/lib/components/elements/image.svelte
  immichFrame.Web/src/lib/components/home-page/home-page.svelte
  immichFrame.Web/src/lib/stores/slideshow.store.ts
  immichFrame.Web/src/routes/+page.ts
Labels: ImmichFrame_Web

#155 Fix: Overlay button height
  immichFrame.Web/src/lib/components/elements/overlay-controls.svelte
Labels: ImmichFrame_Web

#153 Adaptive Android icons by @Blisterexe
  ImmichFrame.Android/Properties/AndroidManifest.xml
  ImmichFrame.Android/Resources/drawable/immich_banner_foreground.xml
  ImmichFrame.Android/Resources/drawable/immich_channel_foreground.xml
  ImmichFrame.Android/Resources/drawable/immich_frame_foreground.xml
  ImmichFrame.Android/Resources/drawable/immich_frame_monochrome.xml
  ImmichFrame.Android/Resources/mipmap-anydpi-v26/ic_launcher.xml
  ImmichFrame.Android/Resources/mipmap-anydpi-v26/immich_banner.xml
  ImmichFrame.Android/Resources/mipmap-anydpi-v26/immich_channel.xml
  ImmichFrame.Android/Resources/mipmap-anydpi-v26/immich_frame.xml
  ImmichFrame.Android/Resources/mipmap-anydpi-v26/immich_frame_round.xml
  ImmichFrame.Android/Resources/mipmap-hdpi/ic_launcher.png
  ImmichFrame.Android/Resources/mipmap-hdpi/ic_launcher_background.png
  ImmichFrame.Android/Resources/mipmap-hdpi/ic_launcher_foreground.png
  ImmichFrame.Android/Resources/mipmap-hdpi/ic_launcher_monochrome.png
  ImmichFrame.Android/Resources/mipmap-hdpi/immich_frame.webp
  ImmichFrame.Android/Resources/mipmap-mdpi/ic_launcher.png
  ImmichFrame.Android/Resources/mipmap-mdpi/ic_launcher_background.png
  ImmichFrame.Android/Resources/mipmap-mdpi/ic_launcher_foreground.png
  ImmichFrame.Android/Resources/mipmap-mdpi/ic_launcher_monochrome.png
  ImmichFrame.Android/Resources/mipmap-mdpi/immich_frame.webp
  ImmichFrame.Android/Resources/mipmap-xhdpi/ic_launcher.png
  ImmichFrame.Android/Resources/mipmap-xhdpi/ic_launcher_background.png
  ImmichFrame.Android/Resources/mipmap-xhdpi/ic_launcher_foreground.png
  ImmichFrame.Android/Resources/mipmap-xhdpi/ic_launcher_monochrome.png
  ImmichFrame.Android/Resources/mipmap-xhdpi/immich_banner.png
  ImmichFrame.Android/Resources/mipmap-xhdpi/immich_channel.png
  ImmichFrame.Android/Resources/mipmap-xhdpi/immich_frame.webp
  ImmichFrame.Android/Resources/mipmap-xxhdpi/ic_launcher.png
  ImmichFrame.Android/Resources/mipmap-xxhdpi/ic_launcher_background.png
  ImmichFrame.Android/Resources/mipmap-xxhdpi/ic_launcher_foreground.png
  ImmichFrame.Android/Resources/mipmap-xxhdpi/ic_launcher_monochrome.png
  ImmichFrame.Android/Resources/mipmap-xxhdpi/immich_frame.webp
  ImmichFrame.Android/Resources/mipmap-xxxhdpi/ic_launcher.png
  ImmichFrame.Android/Resources/mipmap-xxxhdpi/ic_launcher_background.png
  ImmichFrame.Android/Resources/mipmap-xxxhdpi/ic_launcher_foreground.png
  ImmichFrame.Android/Resources/mipmap-xxxhdpi/ic_launcher_monochrome.png
  ImmichFrame.Android/Resources/mipmap-xxxhdpi/immich_frame.webp
  ImmichFrame.Android/Resources/values-night/colors.xml
  ImmichFrame.Android/Resources/values/colors.xml
  ImmichFrame.Android/Resources/values/immich_banner_background.xml
  ImmichFrame.Android/Resources/values/immich_channel_background.xml
  ImmichFrame.Android/Resources/values/immich_frame_background.xml
  ImmichFrame.Android/Resources/values/strings.xml
  ImmichFrame.Android/Resources/xml/backup_rules.xml
  ImmichFrame.Android/Resources/xml/data_extraction_rules.xml
Labels: enhancement

#158 Feat: Metadata & Clock UI changes
  immichFrame.Web/src/lib/components/elements/asset-date.svelte
  immichFrame.Web/src/lib/components/elements/asset-info.svelte
  immichFrame.Web/src/lib/components/elements/clock.svelte
  immichFrame.Web/src/lib/components/elements/image-component.svelte
  immichFrame.Web/src/lib/components/elements/image.svelte
  immichFrame.Web/src/lib/components/elements/location-info.svelte
  immichFrame.Web/src/lib/components/home-page/home-page.svelte
Labels: ImmichFrame_Web

#159 Feat: Zoom-Effect
  ImmichFrame.Core/Interfaces/IClientSettings.cs
  ImmichFrame.Core/Interfaces/IServerSettings.cs
  ImmichFrame.WebApi/Controllers/ConfigController.cs
  ImmichFrame.WebApi/Helpers/SettingsExtensonMethods.cs
  ImmichFrame.WebApi/Models/WebClientSettings.cs
  ImmichFrame.WebApi/Program.cs
  ImmichFrame/Models/Settings.cs
  ImmichFrame/Settings.example.json
  docker/example.env
  immichFrame.Web/src/lib/components/elements/image.svelte
  immichFrame.Web/src/lib/immichFrameApi.ts
Labels: ImmichFrame_Web

#161 Client app image zooming option
  ImmichFrame.Android/ImmichFrame.Android.csproj
  ImmichFrame.Desktop/ImmichFrame.Desktop.csproj
  ImmichFrame/ImmichFrame.csproj
  ImmichFrame/Models/Settings.cs
  ImmichFrame/ViewModels/MainViewModel.cs
  ImmichFrame/Views/MainView.axaml
  ImmichFrame/Views/MainView.axaml.cs
  ImmichFrame/Views/SettingsView.axaml
Labels: enhancement

#157 Feat: Weather UI
  ImmichFrame.Core/Helpers/WeatherExtensions.cs
  ImmichFrame.Core/ImmichFrame.Core.csproj
  ImmichFrame.Core/Interfaces/IClientSettings.cs
  ImmichFrame.Core/Interfaces/IImmichFrameLogic.cs
  ImmichFrame.Core/Interfaces/IServerSettings.cs
  ImmichFrame.Core/Interfaces/IWeather.cs
  ImmichFrame.Core/Logic/ImmichFrameLogic.cs
  ImmichFrame.Core/Models/Weather.cs
  ImmichFrame.WebApi/Controllers/WeatherController.cs
  ImmichFrame.WebApi/Models/ServerSettings.cs
  ImmichFrame.WebApi/Models/WebClientSettings.cs
  ImmichFrame/Helpers/WeatherHelper.cs
  ImmichFrame/ImmichFrame.csproj
  ImmichFrame/ViewModels/MainViewModel.cs
  immichFrame.Web/src/lib/components/elements/clock.svelte
  immichFrame.Web/src/lib/immichFrameApi.ts
  immichFrame.Web/src/lib/stores/config.store.ts
Labels: ImmichFrame_Web

#165 Update Readme/Documentation
  Install_Client.md
  Install_Web.md
  README.md
  design/demo/client_demo.png
  design/demo/web_demo.png
Labels: documentation

#168 Feat: Hide UI, Mouse & overlay-size fix
  immichFrame.Web/src/lib/components/elements/icon.svelte
  immichFrame.Web/src/lib/components/elements/image-component.svelte
  immichFrame.Web/src/lib/components/elements/image.svelte
  immichFrame.Web/src/lib/components/elements/overlay-controls.svelte
  immichFrame.Web/src/lib/components/home-page/home-page.svelte
Labels: ImmichFrame_Web

#169 Fix: Weather not showing up
  .github/workflows/build-docker.yml
  Dockerfile
  ImmichFrame.WebApi/Program.cs
  Makefile
Labels: ImmichFrame_Web

#167 Feat: Zoom in / out of faces
  ImmichFrame.Core/Logic/ImmichFrameLogic.cs
  immichFrame.Web/src/lib/components/elements/asset-info.svelte
  immichFrame.Web/src/lib/components/elements/image.svelte
Labels: ImmichFrame_Web

#171 Feat: Display calendar
  ImmichFrame.Core/Helpers/CalendarExtensionMethods.cs
  ImmichFrame.Core/ImmichFrame.Core.csproj
  ImmichFrame.Core/Interfaces/IAppointment.cs
  ImmichFrame.Core/Interfaces/IImmichFrameLogic.cs
  ImmichFrame.Core/Interfaces/IServerSettings.cs
  ImmichFrame.Core/Logic/ImmichFrameLogic.cs
  ImmichFrame.Core/Models/Appointment.cs
  ImmichFrame.WebApi/Controllers/CalendarController.cs
  ImmichFrame.WebApi/Helpers/SettingsExtensonMethods.cs
  ImmichFrame.WebApi/Models/ServerSettings.cs
  ImmichFrame/Models/Settings.cs
  ImmichFrame/Settings.example.json
  README.md
  docker/example.env
  immichFrame.Web/src/lib/components/elements/appointments.svelte
  immichFrame.Web/src/lib/components/home-page/home-page.svelte
  immichFrame.Web/src/lib/immichFrameApi.ts
Labels: ImmichFrame_Web

#175 Feat: Shortcuts
  immichFrame.Web/src/lib/components/elements/overlay-controls.svelte
Labels: ImmichFrame_Web

#173 Feat: Splitview for vertical images
  ImmichFrame.Core/Interfaces/IImmichFrameLogic.cs
  ImmichFrame.Core/Logic/ImmichFrameLogic.cs
  ImmichFrame.WebApi/Controllers/AssetController.cs
  immichFrame.Web/src/lib/components/elements/LoadingElement.svelte
  immichFrame.Web/src/lib/components/elements/image-component.svelte
  immichFrame.Web/src/lib/components/elements/image.svelte
  immichFrame.Web/src/lib/components/home-page/home-page.svelte
  immichFrame.Web/src/lib/immichFrameApi.ts
Labels: ImmichFrame_Web

#176 Fix: Temperature to one decimal
  immichFrame.Web/src/lib/components/elements/clock.svelte
Labels: ImmichFrame_Web
