Repository immichFrame/ImmichFrame, pull requests merged in 2024-11, with the labels that each got.

#177 Fix: Splitscreen width
  immichFrame.Web/src/lib/components/elements/image-component.svelte
  immichFrame.Web/src/lib/components/elements/image.svelte
Labels: ImmichFrame_Web

#178 Feat: Show memories in order
  ImmichFrame.Core/Logic/ImmichFrameLogic.cs
  immichFrame.Web/src/lib/components/elements/error-element.svelte
  immichFrame.Web/src/lib/components/home-page/home-page.svelte
Labels: ImmichFrame_Web

#179 Fix: Font size for clock
  immichFrame.Web/src/lib/components/elements/clock.svelte
Labels: fix

#180 Feat: Implement imageLocationFormat
  immichFrame.Web/src/lib/components/elements/asset-info.svelte
Labels: ImmichFrame_Web

#182 Feat: Happy Birthday🎉
  immichFrame.Web/package-lock.json
  immichFrame.Web/package.json
  immichFrame.Web/src/lib/components/elements/image-component.svelte
Labels: ImmichFrame_Web

#184 Feat: Reimplement Fontcolor-Setting
  ImmichFrame.Core/Interfaces/IClientSettings.cs
  ImmichFrame.WebApi/Models/WebClientSettings.cs
  immichFrame.Web/src/app.css
  immichFrame.Web/src/lib/components/home-page/home-page.svelte
  immichFrame.Web/tailwind.config.js
Labels: ImmichFrame_Web

#186 Feat: Navigate back
  immichFrame.Web/src/lib/components/elements/overlay-controls.svelte
  immichFrame.Web/src/lib/components/home-page/home-page.svelte
Labels: ImmichFrame_Web

#187 Fix: Dead link to Settings.example.json
  Install_Web.md
  docker/Settings.example.json
Labels: fix

#191 Fix: Handle no date
  immichFrame.Web/src/lib/components/elements/asset-info.svelte
Labels: fix

#189 docs: update renewimagesduration
  README.md
Labels: documentation

#188 docs: specify transition duration as a float
  README.md
Labels: documentation

#192 Feat: Add layout setting
  ImmichFrame.Core/Interfaces/IClientSettings.cs
  ImmichFrame.WebApi/Models/WebClientSettings.cs
  README.md
  docker/Settings.example.json
  docker/example.env
  immichFrame.Web/src/lib/components/home-page/home-page.svelte
  immichFrame.Web/src/lib/immichFrameApi.ts
Labels: ImmichFrame_Web

#197 Feat: Setting for people description
  ImmichFrame.Core/Interfaces/IClientSettings.cs
  ImmichFrame.WebApi/Models/WebClientSettings.cs
  README.md
  docker/Settings.example.json
  docker/example.env
  immichFrame.Web/src/lib/components/elements/asset-info.svelte
  immichFrame.Web/src/lib/components/elements/image-component.svelte
  immichFrame.Web/src/lib/components/elements/image.svelte
  immichFrame.Web/src/lib/components/home-page/home-page.svelte
  immichFrame.Web/src/lib/immichFrameApi.ts
Labels: ImmichFrame_Web

#199 Feat: Clock & Metadata styling
  ImmichFrame.Core/Interfaces/IClientSettings.cs
  ImmichFrame.WebApi/Models/WebClientSettings.cs
  Install_Web.md
  README.md
  docker/Settings.example.json
  docker/example.env
  immichFrame.Web/src/lib/components/elements/asset-info.svelte
  immichFrame.Web/src/lib/components/elements/clock.svelte
  immichFrame.Web/src/lib/components/home-page/home-page.svelte
  immichFrame.Web/src/lib/immichFrameApi.ts
Labels: breaking-change, ImmichFrame_Web

#202 Feat: Landing page - Added brief instructions for all platforms
  docs/index.html
Labels: documentation

#205 Base font size
  ImmichFrame.Core/Interfaces/IClientSettings.cs
  ImmichFrame.WebApi/Models/WebClientSettings.cs
  Install_Web.md
  README.md
  docker/example.env
  immichFrame.Web/src/lib/components/home-page/home-page.svelte
  immichFrame.Web/src/lib/immichFrameApi.ts
Labels: documentation, enhancement

#213 Create codeql.yml
  .github/workflows/codeql.yml
Labels: maintenance
