Repository immichFrame/ImmichFrame, pull requests merged in 2024-12, with the labels that each got.

#216 Feat: Server side image caching
  ImmichFrame.Core/Interfaces/IImmichFrameLogic.cs
  ImmichFrame.Core/Interfaces/IServerSettings.cs
  ImmichFrame.Core/Logic/ImmichFrameLogic.cs
  ImmichFrame.WebApi/Controllers/AssetController.cs
  ImmichFrame.WebApi/Models/ServerSettings.cs
  immichFrame.Web/package.json
Labels: ImmichFrame_Web

#215 Chore: Migrate Component to Svelte 5 Syntax
  immichFrame.Web/package.json
  immichFrame.Web/src/lib/components/elements/appointments.svelte
  immichFrame.Web/src/lib/components/elements/asset-info.svelte
  immichFrame.Web/src/lib/components/elements/clock.svelte
  immichFrame.Web/src/lib/components/elements/error-element.svelte
  immichFrame.Web/src/lib/components/elements/icon.svelte
  immichFrame.Web/src/lib/components/elements/image-component.svelte
  immichFrame.Web/src/lib/components/elements/image.svelte
  immichFrame.Web/src/lib/components/elements/overlay-controls.svelte
  immichFrame.Web/src/lib/components/elements/progress-bar.svelte
  immichFrame.Web/src/lib/components/elements/thumbHashImage.svelte
  immichFrame.Web/src/lib/components/home-page/home-page.svelte
  immichFrame.Web/src/routes/+layout.svelte
  immichFrame.Web/svelte.config.js
Labels: maintenance

#229 fix: handle recurring events in calendar
  ImmichFrame.Core/Helpers/CalendarExtensionMethods.cs
  ImmichFrame.Core/Logic/ImmichFrameLogic.cs
Labels: bug

#228 Create new API for getting images outside of WebView.
  ImmichFrame.WebApi/Controllers/AssetController.cs
  ImmichFrame.WebApi/ImmichFrame.WebApi.csproj
Labels: enhancement

#231 Feat: Identify client requests
  ImmichFrame.WebApi/Controllers/AssetController.cs
  ImmichFrame.WebApi/Controllers/CalendarController.cs
  ImmichFrame.WebApi/Controllers/ConfigController.cs
  ImmichFrame.WebApi/Controllers/WeatherController.cs
  ImmichFrame.WebApi/Models/ImageRequestedNotification.cs
  ImmichFrame.WebApi/Program.cs
  immichFrame.Web/src/lib/components/elements/appointments.svelte
  immichFrame.Web/src/lib/components/elements/clock.svelte
  immichFrame.Web/src/lib/components/elements/image-component.svelte
  immichFrame.Web/src/lib/components/home-page/home-page.svelte
  immichFrame.Web/src/lib/immichFrameApi.ts
  immichFrame.Web/src/lib/stores/identifier.store.ts
  immichFrame.Web/src/routes/+page.ts
Labels: ImmichFrame_Web

#232 Add text-shadow to app.css to improve readability
  immichFrame.Web/src/app.css
  immichFrame.Web/src/lib/components/elements/asset-info.svelte
  immichFrame.Web/src/lib/components/elements/clock.svelte
  immichFrame.Web/tailwind.config.js
Labels: ImmichFrame_Web
